.user-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.user-container img{
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.user-container p{
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  text-transform: capitalize;
}